

{% extends "base.html" %}

{% block content %}
    <div style = "position: relative;
                  text-align: center;
                  color: white;">
        <img src="https://media.dhakatribune.com/uploads/2016/08/stock-economy.jpg" alt="Stock-price" style="width:100%;">
        
        <div style="position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color : greenyellow"><h1>Stock-Price</h1></div>
      </div>
    
{% endblock %}